$apple-font: '.SFNSDisplay-Regular', sans-serif;

.top-font{
    position: relative;
    top: 40px;
    width: 100%;
    height: 0px;
    line-height: 1.8;
    font-size: 56px;
    font-family: $apple-font;
    font-weight: bold;
    order: 0;
}

.mid-font{
    position: relative;
    top: 5px;
    font-size: 26px;
    font-family: $apple-font;
}

.lower-mid-font{
    position: relative;
    font-size: 17px;
    top: -15px;
    font-family: $apple-font;
    color: rgba(185, 185, 185, 0.884);
}

.bottom-font{
    position: relative;
    font-size: 18px;
    top: -25px;
    font-family: $apple-font;
    justify-content: center;
    width: 100%;
    order: 3;
    color: rgb(44, 108, 247);
}



.top-full-card{
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 20% 10%; 
    width: 100%;
    height: 465px;
    padding: 0px;
    border: 0px;
    justify-content: center;
    text-align: center;
    background-image: url('./images/top-animated.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}

.middle-full-card{
    background-color: black;
    display: grid;
    grid-template-rows: 20% 10% 8% 10%;   
    width: 100%;
    height: 600px;
    padding: 0px;
    border: 0px;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url('./images/middle-phone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.bottom-full-card{
    background-color: #f5f5f500;
    display: grid;
    grid-template-rows: 20% 10% 8% 10%; 
    width: 100%;
    height: 600px;
    padding: 0px;
    border: 0px;
    justify-content: center;
    text-align: center;
    color: rgba(15, 15, 15, 0.952);
    background-image: url('./images/bottom-phones.jpg');
    background-size: cover;
    background-position: center;
    background-size: 70% 100%;    
    background-repeat: no-repeat; 
}