$apple-font-color: 	lightgray;
$apple-font: '.SFNSDisplay-Regular', sans-serif;

.top-page{
    position: relative;
    display: grid;
    font-size: 13px;
    font-weight: 0;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%; 
    width: 100%;
    background-color: 	#020202da;
    margin: 0px;
    justify-content: center;
    align-content: center;
}

.apple-logo{
    color: $apple-font-color;
    margin: auto;
    background-image: url("./AppleLogo.png");
}

.search-logo{

}

.shop-logo{

}

.header-text{
    position: relative;
    align-content: center;
    margin: auto;
    color: $apple-font-color;
    font-weight: lighter;
    font-family: $apple-font;
    text-align: center;
}

.sub-header{
    align-content: center;
    text-align: center;
    color: black;
    position: relative;
    background-color: 	#eeeeee;
}